# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vscode

tws_api/*
!tws_api/IBJts/
tws_api/IBJts/*
!tws_api/IBJts/samples/
tws_api/IBJts/samples/*
!tws_api/IBJts/samples/Cpp
tws_api/IBJts/samples/Cpp/*
!tws_api/IBJts/samples/Cpp/TestCppClient
tws_api/IBJts/samples/Cpp/TestCppClient/*
!tws_api/IBJts/samples/Cpp/TestCppClient/TestCppClientStatic
!tws_api/IBJts/samples/Cpp/TestCppClient/makefile